<div class="homeSelectorWrapper">
  <div class="divider bg_red">
    <div class="divider-content">
      <a mat-list-item routerLink="/persons" class="chip_link chip_link-big">
        <!-- <mat-icon>person</mat-icon> -->
        <img src="../../assets/icons/person.svg" alt="" srcset="">
        <p class="nav-caption ">List of Persons</p>
      </a>
    </div>
  </div>
  <div class="divider bg_green">
    <div class="divider-content">
      <a mat-list-item routerLink="/ships" class="chip_link chip_link-big">
        <!-- <mat-icon>airplanemode_active</mat-icon> -->
        <div class="icon_ship"></div>
        <img src="../../assets/icons/ship.svg" alt="" srcset="">
        <p class="nav-caption">List of Ships</p>
      </a>
    </div>
  </div>
</div>