<header>
  <h1>{{pageTitle}}</h1>
</header>

<div id="collapseFour" class="collapse hide">
  <table datatable [dtOptions]="dtOptions" class="stripe"
    *ngIf="resShips.length">
    <thead class="thead-light">
      <tr class="table-active">
        <th class="text-center">Name</th>
        <th class="text-center">Model</th>
        <th class="text-center">Class</th>
        <th class="text-center">Crew</th>
        <th class="text-center">Details</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of resShips | paginate: { itemsPerPage: 10, currentPage: paginaAtual };; let i = index">
        <td class="text-center"> {{item.name}} </td>
        <td class="text-center"> {{item.model ? item.model: "n/a" }} </td>
        <td class="text-center"> {{item.starship_class ? item.starship_class: "n/a"}}  </td>
        <td class="text-center"> {{item.crew? item.crew: "n/a" }} </td>
        <td class="text-center">
          <a title="Check Details" (click)="seeDetails(item.url)"><mat-icon>search</mat-icon> </a>
        </td>


      </tr>
    </tbody>
    <pagination-controls (pageChange)="paginaAtual = $event"></pagination-controls>
  </table>
  <table datatable [dtOptions]="dtOptions" class="table table-striped"
    *ngIf="resShips.length == 0">
    <thead class="thead-light">
      <tr class="table-active">
        <th class="text-center">Name</th>
        <th class="text-center">Model</th>
        <th class="text-center">Class</th>
        <th class="text-center">Crew</th>
        <th class="text-center">Details</th>
      </tr>
    </thead>
    <tbody>
      <tr class="odd">
        <td valign="top" colspan="10" class="dataTables_empty text-center">No records found</td>
      </tr>
    </tbody>
  </table>
</div>
