
.navbar {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.navbar a {
  align-self: flex-end;
}

.footer{
  justify-content: center;
}

.footer * {
  color: var(--gold);
}

.title{
  color: whitesmoke;
}

span{
  padding-right: 1em;
  color: whitesmoke;
}

p{
  padding-right: 1rem;
  color: whitesmoke;
}

.my-nav-list a{
  margin-top: 0.5em;
}



mat-icon{
  color: whitesmoke;
}

mat-sidenav-container{
  height: 100%;
}

mat-sidenav, mat-sidenav-content{
  /* padding: 16px; */
  overflow-x: hidden;
  
}

mat-sidenav{
  background-color: var(--grey);
  border: solid 1px whitesmoke;
  border-left: 0;
  width: var(--nav-width);
}
