<mat-toolbar  class="navbar">
  <div class="title">Welcome to {{title}}!</div>
  <div>
    <a  routerLink="/" >
      <mat-icon>home</mat-icon><span>Home</span>
  </a>

  </div>
  </mat-toolbar>

<mat-sidenav-container>
<mat-sidenav mode="side" opened>
<mat-nav-list>
  <a mat-list-item routerLink="/persons" >
      <mat-icon>person</mat-icon><span class="nav-caption">List of Persons</span>
  </a>

  <a mat-list-item routerLink="/ships" >
      <mat-icon>airplanemode_active</mat-icon> <span class="nav-caption">List of Ships</span>
  </a>

</mat-nav-list>
</mat-sidenav>
<mat-sidenav-content>
  <router-outlet></router-outlet>
</mat-sidenav-content>
</mat-sidenav-container>

<mat-toolbar  class="footer">
    <span>Author: Lucas Ramon</span>
    <span>Contact: lucas.ramon.jc@gmail.com</span>
    <span>Github: <a href="https://www.github.com/lucasramon">github.com/lucasramon</a></span>
  </mat-toolbar>
